<form ng-submit="controller.save()">
  <div class="form-group">
    <label>Name:</label>
    <input ng-model="controller.frame.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Type:</label>
    <input ng-model="controller.frame.type" class="form-control" />
  </div>
  <div class="form-group">
    <label>Price:</label>
    <input ng-model="controller.frame.price" class="form-control" />
  </div>
  <div class="form-group">
    <label>Description:</label>
    <input ng-model="controller.frame.description" class="form-control" />
  </div>
  <div class="form-group">
    <label>Image:</label>
    <input ng-model="controller.frame.img" class="form-control" />
  </div>
  <button class="btn btn-primary">Create Frame</button>
</form>

<ul>
  <li ng-repeat="frame in controller.frames">
    {{frame.name}}, {{frame.kind}}, {{frame.price}}, {{frame.description}}, {{frame.img}}.
    <a href="/edit/{{frame._id}}">edit</a>
    <a href="#" ng-click="controller.remove(frame._id)">delete</a>
  </li>
</ul>